.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    min-width: 60rem;
}

.image {
    width: 35rem;
    height: 22rem;

    position: relative;

    border-radius: 0.5rem;
    overflow: hidden;
}
.text {
    text-align: right;
    vertical-align: bottom;

    width: 24rem;

    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem;
}
